.navbar {
  background-color: $color-ltGray;
  .container {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    .navbar__logo {}
    .navbar__nav {
      display: flex;
      align-items: center;
      .navbar__item {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 2.3rem;
        font-weight: lighter;
        padding: 0 2rem;
        color: $color-dkGray;
        text-decoration: none;
        font-family: 'Cormorant', serif;
      }
    }
  }
}

section {
  font-size: 5rem;
}